

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    color: whitesmoke;
    background-color: #0b0101;
}

.container {
    background: url(../img/jesus.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 1080px;
    padding-top: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content {
    display: flex;
    width: max-content;
    height: 400px;
    flex-direction: column;
    padding: 2rem 1rem;
    margin-left: 20%;
    justify-content: space-between;
}

span {
    color: rgb(250, 156, 5);
}

.content h1 {
    text-align: center;
    display: flexbox;
}

.text-two {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.text-two > p {
    font-size: 1.1rem;
    border-left: 2px solid orange;
    padding: .5rem .6rem
}

.text-two > .text  {
    width: max-content;
    margin-bottom: 0;
    height: max-content;
    font-weight: bolder;
    display: flexbox;
}

.text-two > h2 {
    align-self: flex-end;
    border-right: 2px solid orange;
    padding: .5rem .6rem
}

.text-jesus {
    font-size: 2.7rem;
}

.content, .text, .text-jesus, .text-two, .text > span {
    background: transparent;
}

footer {
    text-align: center;
    font-size: .8rem;
}

footer > p {
    padding-bottom: 6px;
}
strong {
    color: orange;
}

strong:hover {
    text-decoration: underline;
    background: radial-gradient(rgba(255, 166, 0, 0.429), rgba(255, 255, 255, 0) );
}

@media (max-width: 900px) {
    .content {
        display: flex;
        margin: 5rem auto;
    }

    .container {
        background: url(../img/jesus-tablet.png);
        padding-top: 2rem;

    }
}

@media (max-width: 800px) {
    .container {
        background: url(../img/jesus-tablet2.png);
    }
}

@media (max-width: 700px) {
    .container {
        background: url(../img/jesus-tablet3.png);
        padding-top: 1rem;
    }

    .content {
        width: 80%;
    }

    .text-two {
        justify-content: center;
        flex-direction: column;
    }

    .text-two h2 {
        padding: .5rem .6rem;
        font-size: 1.2rem;
    }

    .text-two > .text {
        align-self: center;
    }

}

@media (max-width: 600px) {
    .container {
        background: url(../img/jesus-mobile.png);
        height: 918px;
    }

    .content {
        margin-top: 0;
        margin-left: 2rem;
        height: 700px;
    }

    .text-jesus {
        font-size: 4.2rem;
    }

    .content h1 {
        text-align: left;
    }

    .text-two {
        margin-top: 3rem;
    }

    .text-two .text {
        font-size: 1.5rem;
        font-weight: bolder;
    }
}

@media (max-width: 400px) {
    .container {
        background-position-x: -100px;
    }

    .text-two .text {
        font-size: 1.3rem;
    }
}